.inputUnderline {
  background-image: linear-gradient(#000 0 0);
  background-position: bottom left;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s cubic-bezier(0.55, 0, 1, 0.45),
    background-position 0s 0.3s cubic-bezier(0.55, 0, 1, 0.45);
}

@media (prefers-color-scheme: dark) {
  .inputUnderline {
    background-image: linear-gradient(#fff 0 0) !important;
  }
}

.inputUnderline:hover {
  background-position: bottom right;
  background-size: 100% 2px;
}

.inputUnderline:focus  {
  background-position: bottom right;
  background-size: 100% 2px;
}